%h1 商品一覧

.card-deck
  - @products.each do |product|
    .row.col.mb-5
      .card{:style => "width: 18rem;"}
        = image_tag(product.image.to_s, :alt => "カードの画像", :class => "card-img-top") if product.image? 

        .card-body
          %h5.card-title= product.name
          %p.card-text= product.description
          %p.card-text= product.num_to_currency
