<h1>商品一覧</h1>

<div class="card-deck">
    <% @products.each do |product| %>
        <div class="row col mb-5">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="" alt="カードの画像">
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text"><%= product.num_to_currency %></p>
              </div>
            </div>
        </div>
    <% end %>
</div>